<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="BackupConfigFilePath" value="C:\Users\Sumit\source\repos\BackupManager\ConfigFile.txt" />
    <add key="BackupFolder" value="D:\Backup\PIE Backup" />
    <add key="ShowConsoleAfterComplete" value="false" />
    
    <add key="BkpFolderDatePattern" value="dd-MM-yyyy" />
    <add key="BkpFolderDatePatternRegex" value="^\d{2}-\d{2}-\d{4}(_(\d+))?$" />
    
    <add key="IsDelOldBackups" value="true" />
    <add key="DelOldBackupGreaterThan" value="5" />
    
    <add key="IsSendErrorMail" value="true" />
    <add key="SendErrorMailTo" value="" />
    
    <add key="SendBackupSuccessMail" value="true" />
    <add key="BackupSuccessMailRecepiants" value="" />
    <add key="BackupSuccessMailSubject" value="Backup Successfully Created" />
  
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="">
        <network host="smtp.gmail.com" port="587" userName="" password="" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
